<section class="bench-divider">
    <img src="{{ asset "images/bench-solo.png"}}" alt="">
</section>
<div class="popup-cta contact-modal-open">
    <p> Meet us at bench and let's start a conversation</p>
</div>
<section class="bench-home-footer">
    <div class="home-footer_top">
        <a href="https://facebook.com/benchplaces"><img src="{{asset "images/045-facebook_white.svg"}}"
                alt="facebook"></a>
        <a href="https://twitter.com/benchplaces"><img src="{{asset "images/013-twitter-1_white.svg"}}"
                alt="twitter"></a>
        <a href="https://instagram.com/benchplaces"><img src="{{asset "images/034-instagram_white.svg"}}"
                alt="instagram"></a>
    </div>
    <a class="footer-mailto" href="mailto:hello@benchconsulting.co">hello@benchconsulting.co</a>
    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup">
        <form
            action="https://benchconsulting.us19.list-manage.com/subscribe/post?u=9987e252175671e64424db8c2&amp;id=7bdd8c57ff"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
                <label style="padding: 0;" for="mce-EMAIL">Not ready to chat? Let's keep in touch. </label>
                <p>Enter your email and we'll send you tips, news, and trends about placemaking once a month.</p>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address"
                    required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                        name="b_9987e252175671e64424db8c2_7bdd8c57ff" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                        class="button"></div>
            </div>
        </form>
    </div>

    <!--End mc_embed_signup-->
    <div class="home-footer_inner">
        <div class="home-footer_left">© 2020 Bench Consulting. All rights reserved.</div>
    </div>
</section>
<script src="{{asset "js/staff-bio-popup.js"}}"></script>