<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Bench</title>
    {{> "site-wide-meta"}}
</head>

<body>
    {{> "site-nav"}}
    <div id="staff-bio-popup">
        <div class="staff-bio-popup_inner">
            <span id="close-staff">close</span>
            <div id="staff-inner_content"></div>
        </div>
    </div>
    <section class="bench-home-header">
        <div class="home-header_art">
            <img src="{{asset "images/Full Bench Logo Feb 2020-crop.png"}}" alt="" class="home-header_art-img">
            <div class="line"></div>
        </div>
        <div class="home-header_copy about-header">
            <h1 class="about-header_name">bench <span style="font-weight: 100;">consulting</span></h1>
            <h1 class="about-header_desc">A team of placemakers focused on helping hyper-local projects come to life to
                support vibrant, thriving communities.</h1>
        </div>
    </section>
    <section class="bench-home-services constrained about">
        <h2 class="home-services_title">our approach</h2>
        <p class="home-services_sub-title">Identify latent opportunities to revitalize and reinvent main streets,
            downtowns, and commercial centers through meaningful community and stakeholder engagement paired with strong
            global and local inspirations.</p>
        <div class="home-services_buckets">
            <div class="service-bucket">
                <h4 class="service-bucket_title" style="color: #75597C;">inform</h4>
                <p>Provide residence with Info and assist and understanding problems alternatives and solutions</p>
            </div>
            <div class="service-bucket">
                <h4 class="service-bucket_title" style="color: #72CAC5;">consult</h4>
                <p>Obtain public feedback on analysis alternatives and decisions</p>
            </div>
            <div class="service-bucket">
                <h4 class="service-bucket_title" style="color: #91C740;">involve</h4>
                <p>Work directly with residence and consistently consider their concerns and aspirations</p>
            </div>
            <div class="service-bucket">
                <h4 class="service-bucket_title" style="color: #E39E2F;">collaborate</h4>
                <p>Partner with residence and decision making including identification of solutions</p>
            </div>
            <div class="service-bucket">
                <h4 class="service-bucket_title" style="color: #E8453B;">empower</h4>
                <p>Residents are making decisions and leading solution-based efforts</p>
            </div>
        </div>
    </section>
    <section class="about-team constrained">
        <h2 class="about_title">the team</h2>
        <p class="about_sub-title">Identify latent opportunities to revitalize and reinvent main streets, downtowns, and
            commercial centers through meaningful community and stakeholder engagement paired with strong global and
            local inspirations.</p>
        <div class="team-members">
            <div class="team-member">
                <div class="image ebrahim">
                </div>
                <div class="name">Ebrahim Varachia</div>
                <div class="title">Principal</div>
                <div class="sub-title">Community Strategist</div>
                <div data-staffId="4" class="copy">Ebrahim is the President &amp; Co-Founder of Patronicity, a civic
                    &amp; community...</div>
                <div class="social">
                    <a target="_blank" href="mailto:ebrahim@benchconsulting.co">
                        <img src="{{asset "images/mail.svg"}}" alt="">
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/ebrahimvarachia/"> <img class="linkedin-img"
                            src="{{asset "images/031-linkedin.png"}}" alt=""></a>
                </div>
            </div>
            <div class="team-member">
                <div class="image jonathan">
                </div>
                <div class="name">Jonathan Berk</div>
                <div class="title">Principal</div>
                <div class="sub-title">Creative Director</div>
                <div data-staffId="1" class="copy">Jonathan is a passionate advocate for the power of main streets and
                    downtowns and is...</div>
                <div class="social">
                    <a target="_blank" href="mailto:jonathan@benchconsulting.co">
                        <img src="{{asset "images/mail.svg"}}" alt="">
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/jonathan-berk-1b14a020/"> <img
                            class="linkedin-img" src="{{asset "images/031-linkedin.png"}}" alt=""></a>
                </div>
            </div>
            <div class="team-member">
                <div class="image bridget">
                </div>
                <div class="name">Bridget Anderson</div>
                <div class="title">Lead Consultant</div>
                <div class="sub-title">Community Advocate</div>
                <div data-staffId="2" class="copy">My first memory is watching the sun come up from the porch swing of
                    my small Indiana...</div>
                <div class="social">
                    <a target="_blank" href="mailto:bridget@benchconsulting.co">
                        <img src="{{asset "images/mail.svg"}}" alt="">
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/bridgetanderson-7b010b29/"> <img
                            class="linkedin-img" src="{{asset "images/031-linkedin.png"}}" alt=""></a>
                </div>
            </div>
            <div class="team-member">
                <div class="image mahala">
                </div>
                <div class="name">Mahala Clayton</div>
                <div class="title">Consultant</div>
                <div class="sub-title">MUP</div>
                <div data-staffId="3" class="copy">Defining herself as both a City Mouse and a Country Mouse, Mahala
                    split the time...</div>
                <div class="social">
                    <a target="_blank" href="mailto:mahala@benchconsulting.co">
                        <img src="{{asset "images/mail.svg"}}" alt="">
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/mahala-clayton-a02076b7/"> <img
                            class="linkedin-img" src="{{asset "images/031-linkedin.png"}}" alt=""></a>
                </div>
            </div>
            <div class="team-member">
                <div class="image tim">
                </div>
                <div class="name">Tim Heaphy</div>
                <div class="title">Web Developer</div>
                <div class="sub-title">Code Jockey</div>
                <div data-staffId="5" class="copy">Tim is a technologist with a passion for the things that can make a
                    difference in...
                </div>
                <div class="social">
                    <a target="_blank" href="mailto:tim@benchconsulting.co">
                        <img src="{{asset "images/mail.svg"}}" alt="">
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/timheaphy/"> <img class="linkedin-img"
                            src="{{asset "images/031-linkedin.png"}}" alt=""></a>
                </div>
            </div>
            <div class="team-member">
                <div class="image barb">
                </div>
                <div class="name">Barbara Lash</div>
                <div class="title">Marketing Director</div>
                <div class="sub-title">Artist</div>
                <div data-staffId="6" class="copy">Barbara is a multi-talented, veteran marketer, designer, and artist.
                    She developed...</div>
                <div class="social">
                    <a target="_blank" href="mailto:barb@benchconsulting.co">
                        <img src="{{asset "images/mail.svg"}}" alt="">
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/barbara-lash-30505137/"> <img
                            class="linkedin-img" src="{{asset "images/031-linkedin.png"}}" alt=""></a>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" class="bench-home-contact constrained">
        <div id="wufoo-z1zdlw000tpd32"></div>
        <script
            type="text/javascript"> var z1zdlw000tpd32; (function (d, t) { var s = d.createElement(t), options = { 'userName': 'benchconsulting', 'formHash': 'z1zdlw000tpd32', 'autoResize': true, 'height': '557', 'async': true, 'host': 'wufoo.com', 'header': 'show', 'ssl': true }; s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'secure.wufoo.com/scripts/embed/form.js'; s.onload = s.onreadystatechange = function () { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { z1zdlw000tpd32 = new WufooForm(); z1zdlw000tpd32.initialize(options); z1zdlw000tpd32.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script'); </script>
    </section>
    <!--{{#get "authors"}}
        {{#foreach authors}}
            <p>{{name}}</p>
            <img src="{{profile_image}}" alt="">
        {{/foreach}}
    {{/get}}-->
    {{> "footer"}}
</body>

</html>