<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bench Consulting</title>
    {{> "site-wide-meta"}}
    {{ghost_head}}
</head>

<body class="{{body_class}}">
    <div id="staff-bio-popup">
        <div class="staff-bio-popup_inner">
            <span id="close-staff">close</span>
            <div id="staff-inner_content"></div>
        </div>
    </div>
    {{> "site-nav"}}
    <section class="bench-home-header">
        <div class="home-header_photo-section">
            <div class="home-header_copy">
                <h1 class="">bench consulting</h1>
                <h4 class="">A team of placemakers focused on helping hyper-local projects come to life to support
                    vibrant, thriving communities.</h4>
            </div>
            <picture>
                <img class="header-picture" <img src="{{asset "img/cool-bench-crop.jpeg"}}" alt="">
            </picture>
        </div>
        <p class="bench-narrative">
            At Bench Consulting we
            help you unlock the potential in the ordinary. We are dedicated to helping communities take a second look at
            neglected, underused spaces and work with everyday users to unlock the power of these places. Powerful
            change
            through the connection of people, place and ideas.
        </p>
        <div class="home-header_art">
            <img <img src="{{asset "img/Full Bench Logo Feb 2020-crop.png"}}" alt="" class="home-header_art-img">
            <div class="line"></div>
        </div>
        <div class="popup-cta contact-modal-open">
            <button><p> Meet us at bench and let's start a conversation</p></button>
        </div>
    </section>
    <section class="bench-home-services constrained">
        <h2 class="home-services_title">services</h2>
        <p class="home-services_sub-title">
            We'll help you identify &amp; activate latent opportunities to revitalize main streets, downtowns and commercial centers through meaningful community &amp; stakeholder engagement paired with strong local and global inspirations.
            </p>
        <div class="home-services_buckets">
            <div class="service-bucket">
                <img <img src="{{asset "img/services/street.png"}}" alt="">
                <h3 style="color: #72CAC5;" class="service-bucket_title">placemaking plan</h3>
                <h6>1-4 month engagement</h6>
                <p>The Placemaking Plan is designed to meet you where you are. Our team will research your opportunities and assets and generate an outcome oriented roadmap.</p>
            </div>
            <div class="service-bucket">
                <img <img src="{{asset "img/services/main-street.png"}}" alt="">
                <h3 style="color: #E39E2F;" class="service-bucket_title">single intervention</h3>
                <h6>3-12 month engagement</h6>
                <p>We'll use all of our expertise from research, ideation, community engagement and fundraising to help implement the strategies you need to see your project through to completion.
                </p>
            </div>
            <div class="service-bucket">
                <img <img src="{{asset "img/services/big-mural.png"}}" alt="">
                <h3 style="color: #E8453B;" id="last-bucket_title" class="service-bucket_title">long term engagement
                </h3>
                <h6>1-5 year engagement</h6>
                <p>Are you fully invested in creating vibrancy throughout your community or project? We’ll work with you and your community in stages so that you can build a strong, iterative placemaking movement!</p>
            </div>
        </div>
    </section>
    <section class="bench-home-our-work constrained">
        <h2 class="our-work_title">testimonials</h2>
        <div class="testimonial-slider">
            <div id="testimonial-slider_inner owl-carousel">
                <div data-order="1" class="our-work_slider">
                    <div class="slider-copy">
                        <p class="testimonial-copy">
                            <img src="{{asset "img/beth-reynolds.jpeg"}}" alt="" class="testimonial-img">
                            <span class="testimonial-attr">Beth Reynolds <span class="testimonial-attr_feat">The Corner
                                    Spot</span> Town of Ashland, MA</span>
                            “I have to say that the buzz around town has been amazing, this project has done so much for
                            our
                            little town in just a few weeks, people are excited for change, they are more optimistic
                            that
                            the
                            leadership is getting things done. It has done so much more than transform an ugly lot into
                            a
                            cool
                            park. Keep doing what you are doing, this is the good stuff and you are so great at it!”</p>
                    </div>
                    <img src="{{asset "img/ashland.JPG"}}" alt="" class="slider-image">
                </div>
                <div data-order="2" class="our-work_slider">
                    <div class="slider-copy">
                        <p class="testimonial-copy">
                            <img src="{{asset "img/jordan-yagiela-crop.JPG"}}" alt="" class="testimonial-img">
                            <span class="testimonial-attr">Jordan Yagiela<span class="testimonial-attr_feat"> Director
                                    of Programming </span>NW Goldberg Cares</span>
                            “There has been a huge impact within our community. Residents finally have a place that they
                            can visit and gather. People have consistently been telling us how much they love the park.
                            Visitors to the neighborhood also love it as it shows what our neighborhood can look like
                            when residents come together and put in some work. We even had one woman tell us that she
                            sends her son down every day to read in the park, because he loves to read and it’s a better
                            place for him to read than their house.”</p>
                    </div>
                    <img src="{{asset "img/6102-artpark.jpg"}}" alt="" class="slider-image">
                </div>
                <div data-order="3" class="our-work_slider">
                    <div class="slider-copy">
                        <p class="testimonial-copy">
                            <span class="testimonial-attr">Imhotep Adisa<span class="testimonial-attr_feat"> Executive
                                    Director </span>Kpherw Institute</span>
                            “This collaboration has also led to increased social capital amongst residents who are now
                            engaging with each other.”</p>
                    </div>
                    <img src="{{asset "img/Imhotep.jpg"}}" alt="" class="slider-image">
                </div>
            </div>
        </div>
    </section>
    <section class="bench-home-team constrained">
        <div class="home-team_inner">
            <div class="home-team_copy">
                <h2>who we are</h2>
                <p>We’re a team of city builders and placemakers with experience across a broad spectrum of placemaking projects in cities and towns large and small. We’re passionate about bringing out the best in the places we work in by partnering with the surrounding community.</p>
            </div>
            <div data-staffId="1" id="jonathan-headshot" class="home-team_member"></div>
            <div class="home-team_project"></div>
            <div data-staffId="2" id="bridget-headshot" class="home-team_member"></div>
            <div data-staffId="3" id="mahala-headshot" class="home-team_member"></div>
            <div data-staffId="4" id="ebrahim-headshot" class="home-team_member"></div>
            <div class="home-team_project home-team_project-two"></div>
            <div data-staffId="5" id="tim-headshot" class="home-team_member"></div>
            <div data-staffId="6" id="barb-headshot" class="home-team_member"></div>
        </div>
    </section>
    <section class="blog-news">
        <h2>news</h2>
        <div class="most-recent-post">
            {{#get "posts" limit="1"}}
            {{#foreach posts}}
            {{> post-card}}
            {{/foreach}}
            {{/get}}
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="{{asset "js/library/owl.carousel.min.js"}}"></script>
    <script src="{{asset "js/slider.js"}}"></script>
    {{> "contact-form"}}
    {{> "footer"}}
    {{ghost_foot}}
</body>

</html>