<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bench Consulting</title>
    {{> "site-wide-meta"}}
</head>

<body>
    {{> "site-nav"}}
    <span class="winter-places-landing">
        <div class="winter-hero">
            <div class="winter-hero-copy">
                <div class="winter-turq-circ">
                    <h1><span>Winter</span> Places</h1>
                </div>
                <h4>A design competition for winter placemaking</h4>
            </div>
        </div>
        <div class="winter-main">
            <section class="winter-feature-copy">
                <h2>Winter Activation Ideas for Main Streets &amp; Neighborhoods During COVID19</h2>
                <p>As COVID19 restrictions and public safety concerns limit indoor activities, restaurants,
                    entertainment, public events, social gatherings and more have turned to the outdoors. This has been
                    a great lifeline during the spring and summer but will become challenging during the colder, darker
                    winter months.
                    This program seeks ideas and designs for quickly implementable, low cost interventions to drive
                    visitors back to Main Street that will encourage them to stay longer and patronize area restaurants
                    and businesses. Final designs will then be published in an open-source “Winter Places” activation
                    guide book with full credit given to the respective designers.</p>
            </section>
            <section class="winter-partners">
                <h2>program partners</h2>
                <div class="partner-imgs">
                    <a target="_blank" href="https://patronicity.com">
                        <img src="{{asset "img/Patronicity-Logo_white-bg.png"}}" alt="Patronicity logo">
                    </a>
                    <a target="_blank" href="https://www.architects.org/">
                        <img style="max-height: 100px;" src="{{asset "img/winter/boston-society-for-architecture.png"}}"
                            alt="Boston society for architects logo">
                    </a>
                    <a target="_blank" href="https://www.municipaction.ca/">
                        <img style="margin-top: -10px;" src="{{asset "img/winter/municipaction-logo.png"}}"
                            alt="Municipaction logo">
                    </a>
                    <a target="_blank" href="https://bslanow.org/">
                        <img src="{{asset "img/winter/BSLA-logo.jpg"}}" alt="Boston Society of Land Architects logo">
                    </a>
                </div>
            </section>
            <section class="winter-how">
                <h2>how it works</h2>
                <p>Design firms are now tasked with developing quickly implementable, low cost interventions to drive
                    visitors back to Main Street that will encourage them to stay longer and patronize area restaurants
                    and
                    businesses. Final designs will then be published in a “Winter Places”
                    activation
                    guide book.</p>
                <div class="home-services_buckets">
                    <div class="service-bucket">
                        <h4 class="service-bucket_title facilitate">Discovery</h4>
                        <h6>COMPLETE</h6>
                        <p>We crowdsourced ideas from communities looking to activate their cities &amp; towns this
                            Winter.
                        </p>
                    </div>
                    <div class="service-bucket">
                        <h4 class="service-bucket_title ideate">Open Call</h4>
                        <h6>SUBMIT BY 10/9</h6>
                        <p>Open call to artists, designers, architects and others to submit ideas for winter activation.
                        </p>
                    </div>
                    <div class="service-bucket">
                        <h4 class="service-bucket_title collaborate">Review</h4>
                        <h6>10/5 to 10/20</h6>
                        <p>Representatives from each of the five partners review the submissions and select the
                            finalists.
                        </p>
                    </div>
                    <div class="service-bucket">
                        <h4 class="service-bucket_title empower">Design Guide</h4>
                        <h6>10/26</h6>
                        <p>Finalists are published in a FREE digital Design Guide.</p>
                    </div>
                </div>
                <div class="winter-btns">
                    <a target="_blank" href="https://patronicity.s3.amazonaws.com/static/bench/Winter+Places+-+Competition+Call+Overview.pdf"><button class="round">Program Guide</button></a>
                    <a
                        href="https://docs.google.com/forms/d/e/1FAIpQLSfxbtz8zme_3NFNjMdPto-TnKJ-kYWPJVxg1BQcokBhqGLkbw/viewform"><button
                            class="quaternary round">Submit
                            Ideas</button></a>
                </div>
            </section>
            <section class="winter-comp">
                <h2>the competition</h2>
                <p>How can we encourage residents and visitors to visit and spend time on our main streets during colder
                    winter weather while also encouraging shopping and dining at area small businesses? Winter Places is
                    soliciting creative low cost solutions around main street district interventions from outdoor dining
                    to
                    large scale winter festivals, art installations and more that fit the following two purposes:</p>
                <ol>
                    <li>Give visitors a reason to come back to Main Street this Winter</li>
                    <li>Give them a reason to stay, including, but not limited to, space for outdoor dining, recreation,
                        entertainment, commerce, public art and warmth.</li>
                </ol>
            </section>
            <section class="winter-looks">
                <h2>what it looks like</h2>
                <p>Think outside the box and submit your creative ideas and concepts. From cozy and practical to
                    abstract
                    and inspiring, the final Design Guide is intended to provide Community builders with actionable,
                    impactful and cost-effective solutions to keep their downtowns active during colder months. </p>
                <p class="winter-sample-ideas">Sample Ideas</p>
                <div class="looks-ideas-mason">
                    <div class="mason">
                        <div class="brick brick1">
                            <div style="display:flex; align-items: center; left: 0; height: 100%; width: 30%;"
                                class="brick-overlay">
                                <p>S'Mores Bar - Park &amp; Field, Chicago, IL</p>
                            </div>
                        </div>
                        <div class="brick brick2">
                            <div style="width: 65%; right: 0; top: 0;" class="brick-overlay">
                                <p>Cafe Bicyclette, Edmonton, Canada</p>
                            </div>
                        </div>
                        <div class="brick brick3">
                            <div style="bottom:0;" class="brick-overlay">
                                <p>Winter at Montreal's Art Museum</p>
                            </div>
                        </div>
                        <div class="brick brick4">
                            <div style="bottom:0;" class="brick-overlay">
                                <p>Big Bright Light Show, Rochester, MI</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="winter-btns">
                    <a target="_blank" href="https://patronicity.s3.amazonaws.com/static/bench/Winter+Places+-+Competition+Call+Overview.pdf"><button class="round">Program Guide</button></a>
                    <a
                        href="https://docs.google.com/forms/d/e/1FAIpQLSfxbtz8zme_3NFNjMdPto-TnKJ-kYWPJVxg1BQcokBhqGLkbw/viewform"><button
                            class="quaternary round">Submit
                            Ideas</button></a>
                </div>
            </section>
            <section class="winter-guide">
                <div class="guide-box">
                    <div class="left">
                        <h2>the design guide</h2>
                        <p>The final design guide will consist of a downloadable resource guide with different ideas for
                            interventions for colder months on main streets and residential streets to keep people
                            outdoors and
                            active during the darker colder months.  Complete with very rough cost estimates (low cost,
                            medium,
                            pricey) and implementation time estimates. Each selected design will be featured with
                            images,
                            description and contact information.</p>
                        <p>The design guide is FREE for download.</p>
                    </div>
                    <div class="right">
                        <img src="{{asset "img/winter/winter-guide-page-mock-up-2.png"}}" alt="">
                    </div>
                </div>
                <div class="guide-cta">
                    <h1>Sign up to Receive the Guide when it’s Released!</h1>
                    {{!-- <a href=""><button class="round">Get the Design Guide</button></a> --}}
                    <!-- Begin Mailchimp Signup Form -->
                    {{!-- <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> --}}
                    <style type="text/css">
                        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	                    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                    </style>
                    <div class="winter-form">
                        <form
                            action="https://benchconsulting.us19.list-manage.com/subscribe/post?u=9987e252175671e64424db8c2&amp;id=7bdd8c57ff"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                            class="validate" target="_blank" novalidate>
                            <div class="winter-form-wrapper">
                                <div class="mc-field-group">
                                    <label for="mce-EMAIL">Email </label>
                                    <input class="winter-form-input" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                </div>
                                <div style="display: none;" class="mc-field-group input-group">
                                    <strong>Winter Places Sign Up </strong>
                                    <ul>
                                        <li><input type="checkbox" value="1" name="group[5750][1]"
                                                id="mce-group[5750]-5750-0" checked><label for="mce-group[5750]-5750-0">Winter
                                                Places Guide</label></li>
                                    </ul>
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                        name="b_9987e252175671e64424db8c2_7bdd8c57ff" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="Sign up" name="subscribe"
                                        id="mc-embedded-subscribe" class="button"></div>
                            </div>
                        </form>
                    </div>
                    <script type='text/javascript'
                        src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                    <script
                        type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'MMERGE1'; ftypes[1] = 'text'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
                    <!--End mc_embed_signup-->
                </div>
            </section>
            <section class="winter-info">
                <h3>Interested in Sponsoring a project or the program?</h3>
                <a href="mailto:jonathan@benchconsulting.co"><button class="round red">Sponsor</button></a>
            </section>
            <section class="winter-info">
                <h1>Want more information?</h1>
                <p>Send us an email and we'd be happy to assist your futher.</p>
                <a href="mailto:jonathan@benchconsulting.co">jonathan@benchconsulting.co</a>
            </section>
        </div>
    </span>
    {{> "contact-form"}}
    {{> "footer"}}
</body>

</html>